@import './_veriables.css';
@import 'tailwindcss';

body {
  font-family: var(--ff-poppins);
  background-color: var(--smoky-black);
  color: white;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

@utility container {
  /* Automatically centers the container */
  margin-inline: auto;
  /* Sets the maximum width for the container */
  max-width: 72rem;
}

@theme {
  /* Colors */
  --color-gradient-onyx: var(--bg-gradient-onyx);
  --color-vegas-gold: var(--vegas-gold);
  --color-orange-yellow-crayola: var(--orange-yellow-crayola);
  --color-custom-eerie-black-2: var(--eerie-black-2);
  --color-custom-jet: var(--jet);
  --color-light-gray: var(--light-gray);
  --color-gradient-yellow: var(--text-gradient-yellow);
  --color-gradient-yellow-1: var(--bg-gradient-yellow-1);
  --color-gradient-yellow-2: var(--bg-gradient-yellow-2);
  --color-gradient-yellow-3: var(--bg-gradient-yellow-3);
  --color-gradient-jet: var(--bg-gradient-jet);
  --color-border-gradient-onyx: var(--border-gradient-onyx);
  --color-onyx: var(--onyx);
  --color-nav-bar-background: var(--nav-bar-background);

  /* Box Shadows */
  --shadow-shadow-1: var(--shadow-1);
  --shadow-shadow-2: var(--shadow-2);
  --shadow-shadow-3: var(--shadow-3);
}
