@use '@/styles/mixins.scss' as *;

.content-section {
    padding: 10px;
    padding-inline: 3rem;
    margin-bottom: 5rem;
    scroll-margin-top: 5rem;

    &__header {
        display: none;
        @include sm {
            display: block;
        }
        margin: 10px 0px 10px 0px;
    }
}