.section {
    .section-header-text::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: var(--text-gradient-yellow);
        border-radius: 3px;
    }
}