:root {
    --smoky-black: hsl(0, 0%, 7%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --jet: hsl(0, 0%, 22%);
    --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bg-gradient-onyx: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
    

    /* Font */
    --ff-poppins: 'Poppins', sans-serif;
}