@forward 'boilerplate';
@use './mixins' as *;

$primary-color: #007bff;

$--clr-primary: #fff;
$--clr-primary-300: rgba(255, 255, 255, .8);
$--clr-accent-300: #a9f0e2;
$--clr-accent-400: #0fc5b0;
$--clr-accent-500: #00937e;
$--clr-accent-600: #0a4039;
$--clr-secondary-200: #434956;
$--clr-secondary-300: #272a2e;
$--clr-secondary-400: #222529;
$--clr-secondary-500: #1d1e20;
$--fw-300: 300;
$--fw-400: 400;
$--fw-700: 700;
$--fs-100: .64rem;
$--fs-200: .8rem;
$--fs-300: 1.125rem;
$--fs-400: 1.325rem;
$--fs-500: 1.563rem;
$--fs-600: 1.563rem;
$--fs-700: 2.0rem;
$--fs-800: 2.5rem;
$--fs-900: 3.2rem;
$--fs-xl: clamp(4.5rem, 1rem + 8vw, 9rem);
$--ff-accent: atrament-web, sans-serif;
$--ff-primary: basic-sans, sans-serif;
$--spacer: 2rem;
$--linear-gradient: linear-gradient(90deg, var(--clr-secondary-300), var(--clr-secondary-400));
$--glow-gradient: radial-gradient(var(--clr-secondary-300), var(--clr-secondary-400));

.container {
    width: min(1228px, 100%);
    margin-inline: auto;
    padding-inline: 1rem;
}


.left-content {
    position: sticky;
    max-height: 100vh;
    top: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    @include sm {
        position: unset;
        max-height: none;
    }

    .social-icons{
        img{
            color: hsla(0,0%,100%,.3);
        }
    }
}

.left-content-border {
    content: "";
    position: absolute;
    width: 1px;
    background: radial-gradient(circle, rgba(56, 189, 248, 0.3), transparent 95%);
    mix-blend-mode: overlay;
    height: auto;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.content_wrapper {
    display: grid;

    @include sm {
        display: block;
    }

    grid-template-columns: 0.8fr 1.2fr;
    position: relative;
}