.section {
  .section-header-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: linear-gradient(
      to right,
      var(--primary),
      oklch(from var(--primary) calc(l - 0.08) c calc(h - 10))
    );
    border-radius: 3px;
  }
}
