header {
    z-index: 1;
    position: fixed;
    padding-top: 30px;

    .nav-bar {
        .nav-link {
            padding: 10px;
            color: white;
            text-decoration: none;
        }

        .active {
            background-color: #8277764d;
            border-radius: 5px;
            color:rgb(125 211 252/1)
        }
    }
}